#game-over-message
{
    display: none;
}

#bod
{
    height: 100vh;
    width: 100%;
    justify-content: center;
}

.board
{
    height: 50vh;
    margin-top: 25vh;
    width: 100%;
    justify-content: center;
}

.row
{
    background-color: grey;
    height: 100px;
    width: 35%;
    margin: auto;
    display: flex;
}

.spot
{
    height: 96px;
    width: 25%;
    margin: 2px;
    background-color: rosybrown;
    font-size: 40px;
    color: white;
    transition: .2s;
    font-family: Helvetica;
    text-align: center;
    line-height: 96px;
}

body{
    margin: 0px;
    padding: 0px;
}